.register-div{
    width: 40%;
    height: 400px;
    margin: auto;
    padding: 0;
    position: relative;
    top: 15vh;
    border: 1px solid rgb(190, 190, 190);
    background: #000000;
    justify-content: center;
}
.register-div1{
        width: 26rem;
        height: 434px;
        margin: auto;
        padding: 0;
        position: relative;
        top: 15vh;
        border: 1px solid rgb(190, 190, 190);
        background: #000000;
        justify-content: center;
   
}



#stream{
    display: none;
}
.login-title{
    font-size: 40px;
    text-align: left;
    font-family: 'Titillium Web';
color: #FFFFFF;
}
.login-title1{
   margin-top: 20px;
        font-size: 37px;
        text-align: left;
        font-family: 'Titillium Web';
        color: #FFFFFF;
        font-weight: 300;
      
}
.register-button1:hover {
    background-color: #00C9FF;
    color:#FFFFFF;
}
.register-button1 {
    height: 3.5rem;
    background: #000;
    width: 51%;
    color: #00C9FF;
    padding: 1rem;
    margin: 2rem 0rem;
    font-weight: lighter;
    background-color: #000;
    border: 1px solid #808080;
    position: relative;
    border-radius: 5px;
    float: right;
}
.info-input1 {
    margin-top: 2rem;
    background: #000;
    display: block;
    font-weight: lighter;
    padding: 1rem;
    /* margin: 1rem; */
    width: 90%;
    border: 1px solid #808080;
    color: #808080;
    font-size: 15px;
}
.login-para1 {
    font-weight: 300;
    margin-top: 1rem;
    font-size: 18px;
    text-align: left;
    font-family: 'Titillium Web';
    /* font-weight: lighter; */
    color: #FFFFFF;
    line-height: 2rem;
}
@media screen and (min-width:1149px)  {
    .login-title1{
        margin-top: 3rem;
    }
}



.login-para{
    font-size: 20px;
    text-align: left;
    font-family: 'Titillium Web';
    font-weight: lighter;
color: #FFFFFF;
}
.register-button{
    background: #000;
    width: 50%;
    color:#00C9FF;
    padding: 1rem;
    cursor: pointer;
    font-weight: lighter;
    background-color: #000;
    border: 1px solid #808080;
    position: relative;
    float: right;
}
.info-input{
    background: #000;
    display: block;
    font-weight: lighter;
    padding: 1rem;
    margin: 1rem;
    width: 75%;
    border: 1px solid #808080;
    color: #808080;
    font-size: 15px;
}

.form-container{
    margin: auto;
    padding: 0;
    position: relative;
    top: 20px;
    width: 80%;
}

.register-title {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 20px;
    margin: 1rem;
    text-align: left;
    font-weight: 300;
}
.back{
    border: none;
    background: none;
    float: left;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .register-div{
        width: 90%;
    }

    .login-title{
        font-size: 20px;
        text-align: left;
    }

    .form-container{
        position: relative;
        top: 3rem;
    }

    .login-para{
        font-size: 15px;
        text-align: left;
    }

    .info-input{
        padding: 0.5rem;
    }

    .register-button{
        float: none;
        padding: 0.5rem;
        width: 100%;
        margin: 1rem;
    }

}
@media screen and (min-width: 600px) and (max-width: 1149px) {
    .form-container{
        position: relative;
        top: 42px;
    }
    .login-para1{
        margin-top: -1rem;

    }
}
@media screen and (min-width: 600px) and (max-width: 1165px) {
    .register-div{
        width: 50%;
    }

    .login-title{
        font-size: 30px;
    }

  
    .login-para{
        font-size: 18px;
        text-align: left;
    }

    .info-input{
        padding: 0.5rem;
    }

    .register-button{
        float: none;
        padding: 0.5rem;
        width: 95%;
        margin: 1rem;
    }
}
