
@media screen and (min-width:600px){
    .footer-tag1{
      
     font-family: 'Titillium Web';
    font-style: normal;
    font-weight: lighter;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    }
    .img-svg{
        height: 26px;
        width: 14rem;
        margin: -30px 0rem;
    }
    a{
      
     text-decoration:none;
    color: #FFFFFF;
    }
}
@media screen and (min-width:1150px){
    .home-section{
        background: #000;
}
.section-title2{
    display: none;
}
.home-div {
    /* width: 30%; */
    height: 91vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;
    top: 7vh;
    /* border: 2px solid rgb(190, 190, 190); */
    background-color: #000;
}
.logo{
        display: flex;
        justify-content: center;
}

.footer-tag{
    margin: -5px;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: lighter;
font-size: 15px;

text-align: center;
color: #FFFFFF;
}

.membership{
    background: #000000;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 61px;
text-align: right;
padding: 0.2rem;
color: #FFFFFF;
position: absolute;
right: 20px;
}

option{
    text-align: center;
}

    /* .img {
        position: relative;
        height: 220px;
        width: 260px;
    } */


.section-button:hover {
    background-color: #00C9FF;
        color:#FFFFFF;
}
.section-button {
    text-transform: uppercase;
    box-sizing: border-box;
    width: 45%;
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: lighter;
    background-color: #000;
    color: #00C9FF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 2rem 1rem 2rem 1rem;
    cursor: pointer;
}

.btn-wrapper-div{
    margin: auto;
    padding: auto;
    width: 50%;
}

.section-title {
    /* margin-top: 2rem; */
display: flex;
width: 100%;
justify-content: center;
color:#FFFFFF;
font-family: Titillium Web;
font-size: 36px;
font-weight: 300;
line-height: 94px;
letter-spacing: 0em;
text-align: center;

}

.t {
    font-family: 'Titillium Web';
font-style: normal;
font-weight: lighter;
font-size: 20px;
text-align: center;
color: #FFFFFF;
width: 1000px;
margin: auto;
padding: auto;
}

hr{
    width: 10%;
}
.img{
    height: 101px;
    width: 180px;
}
/* @media screen and (max-width: 700px) {
    .t{
        margin-top: 2rem;
        width: 72%;
        font-size: 17px;
       
    }} */
/* @media screen and (max-width: 425px) {
  

    .membership{
    font-size: 13px;
    right: 10px;
    }

 

    .section-title{
        line-height: 50px;
       
    }

    .section-button {
        height: 4rem;
        width: 80%;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 1rem;
    }

    .btn-wrapper-div{
        width: 100%;
        margin: 1.5rem;
        padding: auto;
        justify-content: center;
        text-align: center;
    }
} */
@media screen and (min-width: 972px) {
    .section-button {
      
        width: 19%;}
}
/* @media screen and (max-width: 971px) {
    .section-button {
      
        width: 22%;}
} */
@media screen and (min-width: 700px) and (max-width: 970px){
    .section-button {
      
        width: 31%;}
}
@media screen and (min-width: 500px) and (max-width: 699px){
    .section-button {
      
        width: 40%;}
}
@media screen and (min-width: 900px) {
    .t{
        line-height: 2rem;
        margin-top: 2rem;
        width: 40%;
        font-size: 18px;
    }}
@media screen and (max-width: 900px)and (min-width: 700px) {
    .t{
     
        margin-top: 2rem;
        width: 50%;
        font-size: 18px;
    }}
@media screen and (min-width: 425px) {


    .membership{
    font-size: 18px;
    right: 10px;
    }

 

    .section-title{
        line-height: 51px;
        /* font-size: 38px; */
        margin-top: 2rem;
    }

    .section-button {
        height: 4rem;
        /* width: 40%; */
        font-size: 1rem;
        padding: 0.5rem;
        margin: 1rem;
    }

    .btn-wrapper-div{
        width: 80%;
        margin:2.5rem auto;
        padding: auto;
        justify-content: center;
        text-align: center;
    }
}
}

@media (min-width:900px) and (max-width:1149px){
    .home-section{
        background: #000;
    }
    .section-title2{
    display: none;
    }
    .home-div {
    height: 91vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;
    top: 7vh;
    /* border: 2px solid rgb(190, 190, 190); */
    background-color: #000;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    
    .footer-tag{
        margin: -5px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
  
    text-align: center;
    color: #FFFFFF;
    }
    
    .membership{
    background: #000000;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 61px;
    text-align: right;
    padding: 0.2rem;
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    }
    
    option{
    text-align: center;
    }
        
    .section-button:hover {
    background-color: #00C9FF;
        color:#FFFFFF;
    }
    .section-button {
    text-transform: uppercase;
    box-sizing: border-box;
    width: 45%;
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: lighter;
    background-color: #000;
    color: #00C9FF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 2rem 1rem 2rem 1rem;
    cursor: pointer;
    }
    
    .btn-wrapper-div{
    margin: auto;
    padding: auto;
    width: 50%;
    }
    
    .section-title {
    display: flex;
    width: 100%;
    justify-content: center;
    color:#FFFFFF;
    font-family: Titillium Web;
    font-size: 36px;
    font-weight: 300;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;
    
    }
    
    .t {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 1000px;
    margin: auto;
    padding: auto;
    }
    
    hr{
    width: 10%;
    }
    .img{
    height: 101px;
    width: 180px;
    }
    
   
  
}
@media (min-width:600px) and (max-width:899px){
    .home-section{
        background: #000;
    }
    .section-title2{
    display: none;
    }
    .home-div {
    height: 91vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;
    top: 7vh;
    /* border: 2px solid rgb(190, 190, 190); */
    background-color: #000;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    
    .footer-tag{
        margin: -5px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
   
    text-align: center;
    color: #FFFFFF;
    }
    
    .membership{
    background: #000000;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 61px;
    text-align: right;
    padding: 0.2rem;
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    }
    
    option{
    text-align: center;
    }
        
    .section-button:hover {
    background-color: #00C9FF;
        color:#FFFFFF;
    }
    .section-button {
    text-transform: uppercase;
    box-sizing: border-box;
    width: 45%;
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: lighter;
    background-color: #000;
    color: #00C9FF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 2rem 1rem 2rem 1rem;
    cursor: pointer;
    }
    
    .btn-wrapper-div{
    margin: auto;
    padding: auto;
    width: 50%;
    }
    
    .section-title {
    display: flex;
    width: 100%;
    justify-content: center;
    color:#FFFFFF;
    font-family: Titillium Web;
    font-size: 36px;
    font-weight: 300;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;
    
    }
    
    .t {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 1000px;
    margin: auto;
    padding: auto;
    }
    
    hr{
    width: 10%;
    }
    .img{
    height: 101px;
    width: 180px;
    }
    
   
  
}
@media screen and (min-width: 425px) {
    
    
    .membership{
    font-size: 18px;
    right: 10px;
    }
    
    
    
    .section-title{
        line-height: 51px;
        /* font-size: 38px; */
        margin-top: 2rem;
    }
    
    .section-button {
        height: 4rem;
        /* width: 40%; */
        font-size: 1rem;
        padding: 0.5rem;
        margin: 1rem;
    }
    
    .btn-wrapper-div{
        width: 80%;
        margin:2.5rem auto;
        padding: auto;
        justify-content: center;
        text-align: center;
    }
    }
   
@media screen and (min-width: 972px) {
    .section-button {
      
        width: 19%;}
    }
  
    @media screen and (min-width: 700px) and (max-width: 970px){
    .section-button {
      
        width: 31%;}
    }
    @media screen and (min-width: 900px) and (max-width: 970px){
    .section-button {
      
        width: 29%;}
    }
    @media screen and (min-width: 971px) and (max-width: 1149px){
    .section-button {
      
        width: 24%;}
    }
    @media screen and (min-width: 500px) and (max-width: 699px){
    .section-button {
      
        width: 40%;}
    }
    /* title */
    @media screen and (min-width: 1150px) {
        .t{
            line-height: 2rem;
            margin-top: 2rem;
            width: 40%;
            font-size: 18px;
        }}
    @media screen and (min-width: 900px)and (max-width:1149px) {
        .t{
            line-height: 2rem;
            margin-top: 2rem;
            width: 74%;
            font-size: 18px;
        }}

        @media screen and (max-width: 899px)and (min-width: 600px) {
        .t{
            margin-top: 2rem;
            width: 74%;
            font-size: 18px;
            line-height: 2rem;
        }}
        @media screen and (max-width: 599px) {
            .home-section{
                display: none;
            }
            .section-title2 {
                margin: 16rem 0rem;
                color: #FFFFFF;
        }

        }
        @media screen and (min-width:600px){
            .logo-div{
                bottom: -4px;
                width: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center
            }
        }