
.home-section{
        background: #000;
}
.home-div {
    /* width: 30%; */
    height: 96vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;
    top: 7vh;
    /* border: 2px solid rgb(190, 190, 190); */
    background-color: #000;
}
.logo{
        display: flex;
        justify-content: center;
}

.footer-tag{
    font-family: 'Titillium Web';
font-style: normal;
font-weight: lighter;
font-size: 15px;
line-height: 37px;
text-align: center;
color: #FFFFFF;
}

.membership{
    background: #000000;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 61px;
text-align: right;
padding: 0.2rem;
color: #FFFFFF;
position: absolute;
right: 20px;
}

option{
    text-align: center;
}

    .img {
        position: relative;
        height: 220px;
        width: 260px;
    }


.section-button {
    box-sizing: border-box;
    width: 45%;
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: lighter;
    background-color: #000;
    color: #00C9FF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 2rem 1rem 2rem 1rem;
    cursor: pointer;
}

.btn-wrapper-div{
    margin: auto;
    padding: auto;
    width: 50%;
}

.section-title {
    /* margin-top: 2rem; */
display: flex;
width: 100%;
justify-content: center;
color:#FFFFFF;
font-family: Titillium Web;
font-size: 50px;
font-weight: 300;
line-height: 94px;
letter-spacing: 0em;
text-align: center;

}

.t {
    font-family: 'Titillium Web';
font-style: normal;
font-weight: lighter;
font-size: 20px;
text-align: center;
color: #FFFFFF;
width: 1000px;
margin: auto;
padding: auto;
}

hr{
    width: 10%;
}

@media screen and (max-width: 425px) {
    .t{
        width: 90%;
        font-size: 14px;
    }

    .membership{
    font-size: 13px;
    right: 10px;
    }

    .img{
        height: 150px;
        width: 180px;
    }

    .section-title{
        line-height: 50px;
        font-size: 30px;
    }

    .section-button {
        width: 80%;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 1rem;
    }

    .btn-wrapper-div{
        width: 100%;
        margin: auto;
        padding: auto;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 1300px) and (min-width: 425px) {
    .t{
        width: 70%;
        font-size: 18px;
    }

    .membership{
    font-size: 18px;
    right: 10px;
    }

    .img{
        height: 150px;
        width: 180px;
    }

    .section-title{
        line-height: 50px;
        font-size: 40px;
        margin-top: 2rem;
    }

    .section-button {
        width: 40%;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 1rem;
    }

    .btn-wrapper-div{
        width: 80%;
        margin: auto;
        padding: auto;
        justify-content: center;
        text-align: center;
    }
}