
.register-section{

    background: #000000;
}
.back-image{
    filter: invert(1);
}

input[type=checkbox] {
    cursor: pointer;
    display: inline;
    float: left;
    accent-color: #000000;
    outline: #808080 0.5px solid;
    width: 11%;
    height: 45px;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.check-label{
    color: #808080;
    font-family: 'Titillium Web';
font-size: 15px;
width: 20%;
float: left;
display: inline;
line-height: 20px;
margin: 0.5rem;
}

.user-register-div{
    width: 40%;
    height: 400px;
    margin: auto;
    padding: 0;
    position: relative;
    top: 15vh;
    border: 1px solid rgb(190, 190, 190);
    background: #000000;
    justify-content: center;
}
.register-section{
    background-color: #000;
    height: 97vh;
}
.user-register-button:hover{
    background-color: #00C9FF;
    color:#FFFFFF;
    font-weight: bolder;
}
.user-register-button{
    background: #000;
    width: 50%;
    color:#00C9FF;
    padding: 1rem;
    cursor: pointer;
    font-weight: lighter;
    background-color: #000;
    border: 1px solid #808080;
    position: relative;
    bottom: 10px;
    float: left;
}
.user-info-input{
    background: #000;
    display: block;
    font-weight: lighter;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
    border: 1px solid #808080;
    color: #808080;
    font-size: 15px;
}

.form-container{
    margin: auto;
    padding: 0;
    position: relative;
    top: 20px;
    width: 80%;
}

.back{
    margin: 11px 10px;
    border: none;
    background: none;
    float: left;
    cursor: pointer;
}

.back-image{
    color: white;
}

.user-register-title{
    font-size: 40px;
    text-align: left;
    font-family: 'Titillium Web';
    font-weight: lighter;
color: #FFFFFF;
}


@media screen and (max-width: 600px) {
    .user-register-div{
        width: 90%;
    }

    .user-register-title{
        font-size: 20px;
    }

    .user-info-input{
        padding: 0.5rem;
    }

    .user-register-button{
        float: none;
        padding: 0.5rem;
        width: 90%;
        margin: 1rem;
    }

    .check-label{
        font-size: 15px;
        width: 80%;
        float: none;
    }

    input[type=checkbox] {
        margin: 0 0 0 1rem;
        float: none;
        width: 10%;
        height: 20px;
    }
}
.user-register-div1 {
    width: 28rem;
    height: 467px;
    margin: auto;
    padding: 0;
    position: relative;
    top: 15vh;
    border: 1px solid rgb(190, 190, 190);
    background: #000000;
    justify-content: center;}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .user-register-div1 {
        width: 28rem;
        height: 467px;
        margin: auto;
        padding: 0;
        position: relative;
        top: 15vh;
        border: 1px solid rgb(190, 190, 190);
        background: #000000;
        justify-content: center;
    
    }}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .user-register-div{
        width: 50%;
    }

    .user-register-title{
        font-size: 20px;
    }

    .form-container{
        position: relative;
        top: 50px;
    }

    .user-info-input{
        padding: 0.5rem;
    }

    .user-register-button{
        float: none;
        padding: 0.5rem;
        width: 90%;
        margin: 1rem;
    }

    .check-label{
        font-size: 15px;
        width: 80%;
        float: none;
    }

    input[type=checkbox] {
        margin: 0 0 0 1rem;
        float: none;
    }
}
